{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="form-holder">
            <h2>User information</h2>
            <div class="form-content">
                <div class="form-items">

                        <form action="" method="post">
                          {% csrf_token %}
                          {{ form.as_div }}
                          <input type="submit" value="Envoyer">
                        </form>

{#                    <form action="" method="post">#}
{#                        {% csrf_token %}#}
{#                        <div class="col-md-12">#}
{#                            <input class="form-control" type="text" name="name" placeholder="Fullname">#}
{#                            <input class="form-control" type="email" name="email" placeholder="E-mail Address">#}
{#                            <input class="form-control" type="text" name="name" placeholder="Username">#}
{#                            <input class="form-control" type="text" name="phone" placeholder="Phone number">#}
{#                            <input class="form-control" type="password" name="password" placeholder="Password">#}
{#                        </div>#}
{##}
{#                        <div class="form-button mt-3">#}
{#                            <button id="submit" type="submit" class="btn btn-primary">Register</button>#}
{#                        </div>#}
{#                    </form>#}
                </div>
            </div>
        </div>
    </div>

{% endblock %}